.wrapper {
    width: 960px;
    padding: 20px;
    margin: 0 auto;
    color:red;
    align-content: center;
  }
  
  .header {
    overflow: hidden;
    width: 100%;
    background-color:white;
    padding:20px;
    border: 1px solid #cccccc;
  }

  .header-right {
    float: right;
  }

  .header a.active {
    background-color: dodgerblue;
    color: white;}