.wrapper {
    width: 960px;
    padding: 0px;
    margin: 0 auto;
    color: #777777;
    align-content: center;
  }
  
  .header {
    overflow: hidden;
    width: 100%;
    background-color:white;
    padding:40px;
    border: 1px solid #cccccc;
    position: relative;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
   
  
    
  }

  .header-right {
    float: right;
  }

 

    .logo{background-color: #4aaaa5;
          font-size: 20px;
          color:white;
        padding: 20px;
        margin-bottom: 0px;
        position: absolute;
        left:225px;
        bottom: 0;
        width: 150px;
        text-align: center;
    }

    .mantequilla{ 
        position: relative;
        border: 1px solid #cccccc;
        margin: auto;
        height: 500px;
        padding:20px;
        background-color: white;
    }

    .h1{
        color:#4aaaa5;
        border-bottom: #cccccc;
        border-top: white;
        border-right: white;
        border-left: white;
        height: 50px;
        border-style: solid;

    }
    .profilePicture{    
        float: left;
        width: 200px;
        height: 220px;
        padding: 0px 20px 20px 0px;

    }
    .information{
        text-align: justify;
    }
.push{
    height: 50px;
}
    .footer{
        border-top: 8px solid #4aaaa5;
        height: 50px;
        background-color:#666666;
        margin-top: 150px;
        text-align: center;
        color:white
    }